.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    margin: 0 0 0 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 20px;
    height: 20px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding: 2px 6px 6px 2px;
    text-align: center;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(../svg/icon-check.svg) no-repeat;
    background-size: 26px;
    border-color: #8BC53F;
}
