body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
}

.quiz {
  max-width: 800px;
  margin: 2.5rem auto;
  background: #fff;
  border-radius: 3px;
}

.question {
  margin: 0;
  padding: 0.5rem 1.5rem 1.5rem 2.5rem;
}

.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

/* Custom Radio Buttons (Based on http://codepen.io/imohkay/pen/wyxuB) */

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    margin: 0;
    padding: 1.5rem;
    width: 100%;
    font-size: 16px;
}

.radioCustomButton ~ .radioCustomLabel:before {
    content: '';
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px 6px 6px 2px;
    margin-right: 10px;
    margin-top: -3px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 50%;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: url(./svg/icon-check.svg);
    background: #8BC53F;
    border: 0;
}

.radioCustomLabel:before {
    font-size: 14px;
}
